<link rel="stylesheet" href="css/allOrder.css" type="text/css" inline/>

<div ng-show="contentView">
    <header>
        <span>
            <em class="back"></em>
        </span>
        客户订单
        <em class="search" ng-click="contentView=false;searchView=true;"></em>
    </header>

    <div class="userInfo" ng-if="true">
        <img ng-src="user.HeadUrl" alt="头像"/>
        <div class="content">
            <p class="uname" ng-bind="user.FullName">欧巴撒浪嘿哟~</p>

            <p class="phoneNumber">
                手机：<span ng-bind="user.PhoneNumber"></span>
                <span ur-sref="customerManagement">设置分组</span>
            </p>
        </div>
    </div>

    <nav>
        <ul yyz-select-uniqe="li">
            <li class="on" data-key="">全部</li>
            <li data-key="2">待付款</li>
            <li data-key="3">待发货</li>
            <li data-key="4">已发货</li>
            <li data-key="6">已完成</li>
            <li data-key="1">已关闭</li>
        </ul>
    </nav>

    <div class="wrapper">
        <div class="orderItem" ng-repeat="item in items">
            <div class="top" ui-sref="orderDesc({id: item.Id})">
                <a href="">
                    <img alt="商品图片" ng-src="{{item.ListPicture}}"/>
                </a>

                <div class="fl">
                    <p class="goodsName" ng-bind="item.ProductListName  | limitTo : 5">酸爽的清新柠檬</p>

                    <p class="uname" ng-bind="item.ReceiverName| limitTo : 5">暮然回首</p>

                    <p class="qty"><span ng-bind="item.Amount|currency:'￥'"></span> 共<span
                            ng-bind="item.Quantity"></span>件</p>
                </div>
                <div class="fr">
                    <p class="deliver" ng-bind="item.OrderStatusEnum">等您发货</p>
                </div>
            </div>
            <div class="bottom">
                <span>单号：<span ng-bind="item.OrderFormNumber"></span></span>
                <span class="fr" ng-bind="item.CreateTime|date:'yy-MM-dd mm:hh'"></span>
            </div>
        </div>
    </div>
</div>

<div ng-if="searchView">
    <header>
        <span ng-click="showContent();">
            <em class="back"></em>
        </span>
        <input type="text" placeholder="请输入订单号、手机号或收件人姓名"/>
        <span class="search">搜索</span>
    </header>
</div>