<link rel="stylesheet" href="css/consultHistory.css" type="text/css" inline />

<header>
    <div class="no">
        <p>
            退款编号:
            <span class="fr">W1631716172166644</span>
        </p>
        <p>
            订单编号:
            <span class="fr">E5463565646464646464644</span>
        </p>
    </div>
    <div class="desc">
        <img src="imgs/other/goods1.png" alt=""/>
        <p class="name">超级无敌巨酸爽的清新柠檬超级无敌巨酸爽的清新柠檬</p>
        <p class="price">
            ￥10.00 <br/>
            <span>x2</span>
        </p>
    </div>
</header>

<div class="body">
    <div class="wrapper">
        <span class="time">2016-03-18  14:06:31</span>
        <div class="seller" ng-show="true">
            <p>卖家</p>
            <p>拒绝了本次退款申请，等待买家修改</p>
            <p>拒绝原因：已发货</p>
            <em></em>
        </div>
    </div>
    <div class="wrapper">
        <span class="time">2016-03-18  14:06:31</span>
        <div class="customer" ng-show="true">
            <p>买家</p>
            <p>发起了退款申请，等待商家处理</p>
            <p>退款原因：买/卖双方协商一致</p>
            <p>期望结果：我要退款，但不退货</p>
            <p>退款金额：10.00</p>
            <p>退款说明：</p>
            <p>联系电话：18546464852</p>
            <em></em>
        </div>
    </div>
</div>

<div class="bottom">
    <span>留言</span>
    <span>返回</span>
</div>