<link rel="stylesheet" href="css/createOrder.css" type="text/css" inline />

<div class="address">
    <p> sun 13689503122</p>
    <p> 地址: 森那美大厦 00</p>
</div>

<div class="pay">
    <p>
        支付方式
        <span>(在线支付立减7元)</span>
    </p>
    <p>
        微信支付
        <em class="active"></em>
    </p>
    <p>
        货到付款
        <em></em>
    </p>
</div>

<p class="balance">
    我的余额
    <span>108.00元</span>
    <em class="active right"></em>
    <span class="right">是否选择余额支付</span>
</p>

<p class="voucher">
    代金券
    <span>券</span>
    <span class="right">无可用代金券</span>
    <i class="arrowRight"></i>
</p>

<div class="time">
    <p>
        期望送达时间
        <span class="right">
            (大约15:00到)
        </span>
        <span class="right">
            立即配送
        </span>
        <i class="arrowRight"></i>
    </p>
    <p>
        配送备注
        <span class="right">
            (选填)可输入特殊要求
        </span>
        <i class="arrowRight"></i>
    </p>
</div>

<div class="orderInfo">
    <p>
        e生活店
        <span class="right">
            本单由 商家 配送
        </span>
    </p>
    <ul>
        <li>
            甜蜜樱桃(中大果8-10个)
            <span class="right">
                ￥128 x1
            </span>
        </li>
        <li>
            越南大青芒(大果6-8个)
            <span class="right">
                ￥8 x1
            </span>
        </li>
        <li>
            包装费
            <span class="right">
                ￥0
            </span>
        </li>
        <li>
            配送费
            <span class="right">
                ￥0
            </span>
        </li>
    </ul>
    <p class="sum">
        合计金额: ￥117
    </p>
    <div class="discount">
        立减优惠<span>减</span>
        <span class="right">- ￥7</span>
        <p class="alignR">优惠金额: - ￥7</p>
        <p class="alignR">订单总计：￥117</p>
        <div class="rule">
            优惠规则详解
        </div>
    </div>

    <div class="summary">
        商品金额 ￥26
        <span>- 优惠￥7</span>
        <span class="right">￥110</span>
        <span class="right">还需付</span>
    </div>
</div>

<div class="bottom">
     确认下单
</div>