<link rel="stylesheet" href="lib/dropload/dist/dropload.css" inline/>
<link rel="stylesheet" href="css/eshopList.css" type="text/css" inline/>

<div class="nav" yyz-pos>
    <ul class="tabs">
        <li ng-click="show('categoryInfo');">
            <span>分类</span>
            <em class="down"></em>
        </li>
        <li ng-click="show('sortInfo');">
            <span>排序</span>
            <em class="down"></em>
        </li>
        <li ng-click="show('filterInfo');">
            <span>筛选</span>
            <em class="down"></em>
        </li>
    </ul>
    <div class="categoryWrapper" ng-if="categoryInfo">
        <ul class="category">
            <li>
                全部商家
                <span class="count">524</span>
            </li>
            <li class="active">
                水果生鲜
                <span class="count">214</span>
                <em class="right"></em>
            </li>
            <li>
                水果生鲜
                <span class="count">300</span>
                <em class="right"></em>
            </li>
        </ul>

        <ul class="subCategory">
            <li>
                水果生鲜
                <span class="count1">161</span>
            </li>
            <li>
                水果
                <span class="count1">165</span>
            </li>
            <li>
                蔬菜
                <span class="count1">135</span>
            </li>
            <li>
                肉类
                <span class="count1">128</span>
            </li>
            <li>
                水产
                <span class="count1">365</span>
            </li>
        </ul>
        <div class="categoryFooter">
            <span></span>
        </div>
    </div>
    <div class="sortWrapper" ng-if="sortInfo">
        <ul>
            <li>
                <em></em>
                智能排序
            </li>
            <li>
                <em></em>
                距离最近
            </li>
            <li>
                <em></em>
                销量最高
            </li>
            <li>
                <em></em>
                起送价最低
            </li>
            <li>
                <em></em>
                配送速度最快
            </li>
            <li>
                <em></em>
                评分最高
            </li>
        </ul>
        <div class="categoryFooter">
            <span></span>
        </div>
    </div>
    <div class="filterWrapper" ng-if="filterInfo">
        <p class="express">
            配送方式
            <span>达达配送</span>
            <span>e小二</span>
            <span>不限</span>
        </p>

        <div class="content">
            <ul>
                <li>
                    <span class="qa">品</span>
                    品牌馆
                </li>
                <li>
                    <span class="ensure">保</span>
                    外卖保
                </li>
                <li>
                    <span class="new">新</span>
                    新店
                </li>
                <li>
                    <span class="ticket">票</span>
                    开发票
                </li>
                <li>
                    <span class="pay">付</span>
                    在线支付
                </li>
                <li>
                    <span class="com">赔</span>
                    超时赔付
                </li>
            </ul>
        </div>
        <p class="title1">优惠活动</p>

        <div class="active">
            <ul>
                <li>
                    <span class="xin">新</span>
                    新用户优惠
                </li>
                <li>
                    <span class="te">特</span>
                    特价秒杀
                </li>
                <li>
                    <span class="jian">减</span>
                    下单立减
                </li>
                <li>
                    <span class="zeng">赠</span>
                    赠品优惠
                </li>
                <li>
                    <span class="zuan">专</span>
                    专享红包
                </li>
            </ul>
            <div class="btnArea">
                <span class="btnClear">清空</span>
                <span class="btnConfirm">确定</span>
            </div>
            <div class="categoryFooter">
                <span></span>
            </div>
        </div>
    </div>
</div>

<div yyz-dropload id="scroller">
    <div class="listItem" ng-repeat="item in scrollList track by $index">
        <div class="top" ui-sref="eshop">
            <div class="left">
                <a href="#/eshop"><img src="imgs/home/ejd.png" alt=""/></a>
                <div class="content">
                    <p class="name">e家店</p>

                    <p class="grade">
                        <i class="star"></i>
                        <i class="star"></i>
                        <i class="star"></i>
                        <i></i>
                        <i></i>
                        <span>月售2300份</span>
                    </p>

                    <p class="limit">起送 ￥16 配送￥3</p>
                </div>
            </div>
            <div class="right">
                <p>
                    <i></i>
                    <i></i>
                </p>

                <p>达达配送</p>

                <p>30分钟</p>
            </div>
        </div>
        <div class="bottom">
            <p>
                <i>领</i>
                <span>进店可领取商家代金券一张</span>
            <span>
                3个活动
                <em class="down1"></em>
            </span>
            </p>

            <p>
                <i>返</i>
                下单满38元即可获得5元代金券，代金券可......
            </p>
        </div>
    </div>
</div>

<div class="footer">
    <ul>
        <li ng-repeat="item in navBar" ui-sref="{{item.stateName}}" ng-class="{'active': item.text=='e家店' || item.text=='e进货'}" ng-bind="item.text">
        </li>
    </ul>
</div>