<link rel="stylesheet" href="lib/dropload/dist/dropload.css" inline/>
<link rel="stylesheet" href="css/eshop.css" type="text/css" inline />

<div class="header">
    <div class="left">
        <a href="#">
            <img class="headerImg" src="imgs/eshop/shopHeader.jpg" alt=""/>
        </a>
    </div>
    <div class="right">
        <div class="top">
            <ul>
                <li>起送 ￥20  <i></i></li>
                <li>配送 ￥2   <i></i></li>
                <li>送达 45分钟</li>
            </ul>
        </div>
        <div class="bottom">
            <span ng-click="showMessageView();">进店可领取商家代金券一张</span>
            <a ui-state="shopInfo">
                <em class="arrowRight"></em>
            </a>
        </div>
    </div>
</div>

<nav>
    <ul yyz-select-uniqe="li">
        <li class="on">商品</li>
        <li>评价</li>
    </ul>
</nav>

<div ng-show="goodsView" class="hotCategory">
    <p>
        <i></i>
        热销分类
    </p>
    <img src="imgs/eshop/quang.png" ng-click="showVouchers();" class="quang" alt=""/>
</div>

<div ng-show="goodsView" class="wrapper">
    <div class="content">
        <div class="left">
            <ul>
                <li ng-class="{'on': item.ShopProductTypeName==category}" ng-repeat="item in shopData" ng-click="showGoods(item);">
                    <a id="{{item.Id}}"></a>
                    <span ng-bind="item.ShopProductTypeName"></span>
                </li>
            </ul>
        </div>
        <div class="right" yyz-scroll-spy=".goods">
            <div ng-repeat="item in shopData">
                <div class="goods" ng-repeat="goods in item.SimpleProductViewModelList">
                    <a id="{{item.ShopProductTypeName}}" ng-if="$index==0"></a>
                    <img src="imgs/eshop/goods1.png" alt=""/>
                    <p class="name" ng-bind="goods.Name"></p>
                    <p class="desc">月售300份  好评186</p>
                    <div class="bottom">
                        <span class="price">￥ 9</span>
                        <div class="fr">
                            <span class="circle">-</span>
                            <span class="count">3</span>
                            <span class="circle">+</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="cart">
        <span class="circular" ng-click="showCartInfo();">
            <i>3</i>
        </span>
        <span>共￥27</span>
    </div>
    <div class="btn" ui-sref="createOrder">
        选好了
    </div>
</footer>

<div class="masker" ng-show="cartView" yyz-masker>
    <ul>
        <li>
            清新柠檬(中大果8-10个)
            <span class="amount">￥18</span>
            <div class="modify">
                <span class="circle1">-</span>
                1
                <span class="circle1">+</span>
            </div>
        </li>
        <li>
            进口青苹(6个装)
            <span class="amount">￥18</span>
            <div class="modify">
                <span class="circle1">-</span>
                1
                <span class="circle1">+</span>
            </div>
        </li>
    </ul>
    <footer>
        <div class="cart">
    <span class="circular" ng-click="showCartInfo();">
        <i>3</i>
    </span>
            <span>共￥27</span>
        </div>
        <div class="btn">
            选好了
        </div>
    </footer>
</div>

<div class="masker" ng-show="vouchersView" yyz-masker>
    <div class="vouchers">
        <p>
            <span class="close" ng-click="hideVouchers();">
                <em></em>
                <em></em>
            </span>
            点击领取商家券
        </p>
        <p>商家券可与其他优惠同享</p>

        <div class="box" yyz-vouchers>
            <span>￥</span>
            <span class="value">13.0</span>
            <div class="desc">
                <p>绿叶水果4元优惠券</p>
                <ul>
                    <li>满36元可用</li>
                    <li>2016-01-06-2016-01-07</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="masker" ng-show="specView" yyz-masker>
    <div class="spec">
        <p>
            <span class="close" ng-click="hideSpec();">
                <em></em>
                <em></em>
            </span>
            清新柠檬
            <span>月售300份  好评186</span>
        </p>
        <div class="specContent">
            <span>规格</span>
            <div>
                <ul>
                    <li class="active">
                        尤力克中大果6-8个 <i></i>
                    </li>
                    <li>
                        中大果8-10个 <i></i>
                    </li>
                    <li>
                        中大果10-12个 <i></i>
                    </li>
                </ul>
            </div>
        </div>
        <p>
            数量
            <span class="circle1">-</span>
            <span class="count">3</span>
            <span class="circle1">+</span>
        </p>
        <p class="total">
            ￥
            <span>168.</span>
            <span>00</span>
            <span>加入购物车</span>
        </p>
    </div>
    <footer>
        <div class="cart">
        <span class="circular" ng-click="showCartInfo();">
            <i>3</i>
        </span>
            <span>共￥27</span>
        </div>
        <div class="btn">
            选好了
        </div>
    </footer>
</div>

<div class="masker1" ng-show="shopMessageView" yyz-masker>
    <div class="message">
        <div class="title">
            <p class="shopname">
                绿叶水果
            </p>
            <p class="score">
                <em></em>
                <em></em>
                <em></em>
                <em></em>
                <em></em>
                <span>5分</span>
            </p>
            <p>
                月售:727 营业时间: 08:30-21:11
            </p>
        </div>
        <div class="content">
            <p>优惠信息</p>
            <ul>
                <li>
                    <span class="pink">减</span>
                    <p>在线支付39减5元</p>
                </li>
                <li>
                    <span class="skyBlue">赠</span>
                    <p>本店新用户可领新用户券4元</p>
                </li>
                <li>
                    <span class="yellow">代</span>
                    <p>
                        下单满45元即得商户代金券，代金券可与平台
                        优惠同享
                    </p>
                </li>
            </ul>
        </div>
        <div class="messageInfo">
            <p>商家公告</p>
            <p>
                尊敬的顾客你们好
            </p>
            <p>
                本店购买水果有奖，凡一次性购满超过200
                元者，送甜蜜柚子一个
            </p>
            <p>
                欢迎来店光临   谢谢
            </p>
            <span class="close1" ng-click="closeMessageView();">
                <em></em>
                <em></em>
            </span>
        </div>
    </div>
</div>

<div ng-if="commentsView" class="comments">
    <div class="filerArea">
        <ul>
            <li class="on"><span>全部(14)</span></li>
            <li><span>好评(14)</span></li>
            <li><span>中评(0)</span></li>
            <li><span>差评(0)</span></li>
        </ul>
    </div>
    <div id="scroller" yyz-dropload>
        <div class="comment" ng-repeat="item in commentList track by $index">
            <img class="headerImg" src="imgs/returnGoods/header.png" alt=""/>
            <p class="uname">
                {{item.GodName}}
                <span ng-bind="item.GodCommentDateTime | date: 'yyyy-MM-dd H:mm:ss'"></span>
            </p>
            <p class="grade">
                <em ng-repeat="item1 in [1, 2, 3, 4, 5]" ng-class="{'on': $index < item.GodCommentLevel}"></em>
                送货速度：29分钟
            </p>
            <p class="text" ng-bind="item.GodComment">
            </p>
            <div class="reply" ng-if="item.ShopReplyComment">
                <p class="time">
                    店家回复:
                    <span>2015-12-21 16:35</span>
                </p>
                <p>
                    感谢您的评价，我们会不断的努力，争取让每一
                    位顾客满意，您的支持是我们最大的动力。
                </p>
            </div>
        </div>
    </div>
</div>










