<link rel="stylesheet" href="css/goodsTypeManage.css" type="text/css" inline/>

<header class="ng-scope">
    <em class="back"></em>

    <p>商品分类编辑</p>
    <span>确认</span>
</header>

<div class="body">
    <ul class="list">
        <li>
            <div class="left">
                <span yyz-delete=".right">
                    <em></em>
                </span>
                <span>水果生鲜</span>
                <span class="count">0</span>
                <span class="edit"></span>
                <span class="bar">
                    <i></i>
                </span>
            </div>
            <div class="right">
                删除
            </div>
        </li>
    </ul>
</div>

<div class="bottom">
    <span>添加商品</span>
</div>