<link rel="stylesheet" href="css/help.css" type="text/css" inline />

<p class="menu">
    《 使用帮助目录
</p>

<div class="content">
    <p class="title">小店订单状态说明</p>
    <p class="desc">
        买家购买了小店里的商品后，即会产生相应订单记录。您
        不需要来处理订单，会由系统和供货商来处理，不过您可
        以在这查看相应订单状态
    </p>
    <ul>
        <li>
            <p>
                <i></i>
                待发货：买家已付款，等待供货商发货的订单
            </p>
        </li>
        <li>
            <p>
                <i></i>
                已发货：供货商已发货，等待买家签收的订单
            </p>
        </li>
        <li>
            <p>
                <i></i>
                已完成：供货商发货7天后的订单（同时也包含使用微
                信收款功能，买家付款的订单）
            </p>
        </li>
        <li>
            <p>
                <i></i>
                已关闭：买家下单后，如果超时（30分钟）没有完成付
                款，订单会自动关闭
            </p>
        </li>
    </ul>
    <p class="desc1">订单到哪个状态后，能收到佣金？</p>
    <ul>
        <li>
            买家付款后（待发货的订单），商品利润即被计入“未结
            算收入”
        </li>
        <li>
            “已完成”的订单，对应的利润会被计入小店的“已结算收
            入”和“可提现金额”，您即可申请提现
        </li>
        <li>
            您可以在“我的-小店营收”页面查看您的收入情况，并申
            请提现。
        </li>
    </ul>
    <div class="spliter"></div>
    <p class="how">
        买家下单后，想申请退款/退货怎么办？
        <a href="#">点击查看</a>
    </p>
</div>
