<link rel="stylesheet" href="css/login.css" type="text/css" inline />

<form name="form" novalidate="novalidate">
    <div class="login">
        <ul>
            <li>
                <input type="text" ng-model="phoneNumber" yyz-phone name="phoneNumber" placeholder="请输入你的手机号码"/>
            </li>
            <li>
                <input type="text" name="imgCode" ng-model="imgCode" placeholder="请输入图中验证码"/>
                <img src="http://112.74.126.176:8899/api/Comm/GetImgCode" alt="验证图片" />
            </li>
            <li>
                <input ng-minlength="13" type="text"  ng-model="code" name="code" placeholder="请输入短信验证码"/>
                <span class="sendCode" ng-click="getCode();">获取验证码</span>
            </li>
            <li ng-if="view1">
                <input type="text" ng-model="recommendCode" name="recommendCode" placeholder="请输入你的邀请码"/>
            </li>
        </ul>
    </div>

    <p class="tips" ng-if="view1">
        提示：如果你没有邀请码，请勿略
    </p>
</form>

<div class="validator" ng-repeat="(key,value) in form.$error" ng-bind="key">

</div>

<button class="bottom" ng-class="{'on': !disable}" ng-disabled="disable" ng-click="bind();">
    绑定
</button>

<div class="readMe" ng-click="disable=false;">
    <i ng-class="{'on': !disable}"></i>
    我已看过并同意一扬指
    <a ui-sref="help"><<用户使用协议>></a>
</div>
