<link rel="stylesheet" href="css/login.css" type="text/css" inline />

<div class="login">
    <ul>
        <li>
            <input type="text" name="phoneNumber" placeholder="请输入你的手机号码"/>
        </li>
        <li>
            <input type="text" name="imgCode" placeholder="请输入图中验证码"/>
        </li>
        <li>
            <input type="text" name="verifyCode" placeholder="请输入短信验证码"/>
            <span class="sendCode">发送验证码</span>
        </li>
        <li>
            <input type="text" name="visitCode" placeholder="请输入你的邀请码"/>
        </li>
    </ul>
</div>

<p class="tips">
    提示：如果你没有邀请码，请勿略
</p>

<div class="bottom">
    绑定
</div>

<div class="readMe">
    <i></i>
    我已看过并同意一扬指
    <a href="#"><<用户使用协议>></a>
</div>