<link rel="stylesheet" href="css/myAddress.css" type="text/css" inline />

<header class="ng-scope">
    <span ng-click="back();">
        <em class="arroLeft"></em>
    </span>
    <p ng-bind="title"></p>
    <span ng-bind="fname" ng-click="fn();"></span>
</header>

<div class="body" ng-show="contentView">
    <ul>
        <li ng-repeat="item in items" ng-click="editAddress(item);">
            <p class="userInfo">
                <span ng-bind="item.Receiver">先生</span>
                <span ng-bind="item.PhoneNumber"></span>
            </p>
            <p class="address">
                {{item.Address}}
            </p>
        </li>
    </ul>
</div>

<div class="edit" ng-show="editView">
    <div class="contacts">
        <p>联系人</p>
        <p class="name">
            <input type="text" ng-model="model.Receiver" name="Receiver" placeholder="您的姓名" />
        </p>
        <p class="sex">
            <em class="circle on"></em>
            <span>先生</span>
            <em class="circle"></em>
            <span>女士</span>
        </p>
    </div>
    <div class="addressInfo" ng-click="linkSearch();"><!--ui-sref="search"-->
        收货地址
        <input type="text" ng-model="model.LocateAddress" placeholder="定位收货地址" />
    </div>
    <div class="addressInfo">
        详细地址
        <input type="text" ng-model="model.Address" placeholder="请输入您的详细居住地址" />
    </div>
    <div class="addressInfo">
        手机号码
        <input type="text" ng-model="model.PhoneNumber" placeholder="配送人员联系您的电话" />
    </div>
</div>
<div class="btn" ng-show="editView" ng-click="deleteAddress(model.Id)">删除该地址</div>

<div class="edit" ng-show="addView">
    <div class="contacts">
        <p>联系人</p>
        <p class="name">
            <input type="text" ng-model="model.Receiver" placeholder="您的姓名" />
        </p>
        <p class="sex">
            <em class="circle on"></em>
            <span>先生</span>
            <em class="circle"></em>
            <span>女士</span>
        </p>
    </div>
    <div class="addressInfo" ng-click="linkSearch();">
        收货地址
        <input type="text" placeholder="定位收货地址" ng-model="model.LocateAddress" />
    </div>
    <div class="addressInfo">
        详细地址
        <input type="text" ng-model="model.Address" placeholder="请输入您的详细居住地址" />
    </div>
    <div class="addressInfo">
        手机号码
        <input type="text" ng-model="model.PhoneNumber" placeholder="配送人员联系您的电话" />
    </div>
</div>

