<link rel="stylesheet" href="css/myAllOrder.css" type="text/css" inline />

<header>
    <em class="back"></em>
    <span class="active">所有订单</span>
    <span>维权订单</span>
    <em class="question"></em>
</header>

<div class="searchBox" ng-if="true">
    <input type="search" placeholder="通过手机号 订单号 收件人姓名搜索" />
</div>

<nav>
    <ul yyz-select-uniqe="li">
        <li class="on" data-key="">全部</li>
        <li data-key="2">待付款</li>
        <li data-key="3">待发货</li>
        <li data-key="4">已发货</li>
        <li data-key="6">已完成</li>
        <li data-key="1">已关闭</li>
    </ul>
</nav>

<div class="wrapper">
    <div class="orderItem" ng-repeat="item in items">
        <div class="top" ui-sref="orderDesc({id: item.Id})">
            <a href="">
                <img alt="商品图片" ng-src="item.ListPicture"/>
            </a>

            <div class="fl">
                <p class="goodsName" ng-bind="item.ProductListName  | limitTo : 5">酸爽的清新柠檬</p>

                <p class="uname" ng-bind="item.ReceiverName| limitTo : 5">暮然回首</p>

                <p class="qty"><span ng-bind="item.Amount|currency:'￥'"></span> 共<span
                        ng-bind="item.Quantity"></span>件</p>
            </div>
            <div class="fr">
                <p class="deliver" ng-bind="item.OrderStatusEnum">等您发货</p>
            </div>
        </div>
        <div class="bottom">
            <span>单号：<span ng-bind="item.OrderFormNumber"></span></span>
            <span class="fr" ng-bind="item.CreateTime|date:'yy-MM-dd mm:hh'"></span>
        </div>
    </div>
</div>