<link rel="stylesheet" href="css/myInvitationCode.css" type="text/css" inline />

<div class="content">
    <p class="info">
        “e生活绑定送积分啦”，微信添加公众号搜索一扬
        指e生活并关注我们，绑定时输入。成功绑定后，我
        们都将获得10个积分奖励，积分可以在商城里兑换
        超值商品，赶紧去绑定手机号码吧!
    </p>
    <p class="code">
        我的邀请码
        <span>habf2</span>
        <span class="qr"></span>
    </p>
    <span class="btn">微信邀请</span>
</div>

<p class="desc">
    <span>已邀请好友</span><br/>
    <span ng-cloak>总邀请人数{{count}}人</span>
</p>

<ul class="list">
    <li ng-repeat="item in firends">
        <img src="imgs/weixin/header.png" alt=""/>
        <p>
            像猫一****
            <span class="time">2015-11-12  13:31:00</span>
        </p>
    </li>
</ul>