<link rel="stylesheet" href="css/myYyz.css" type="text/css" inline/>

<div class="header">
    <img src="imgs/myYyz/header.png" alt="" ui-sref="personalCenter"/>
    <p class="uname">廖桑桑</p>
    <p class="switch" ng-click="switch()" ng-bind="fname"></p>
</div>

<div class="content" ng-if="customer">
    <ul class="basicInfo">
        <li>
            <p class="balance">
                <span>0.00</span>元
            </p>

            <p>我的余额</p>
        </li>
        <li>
            <p class="voucher" ui-sref="myVouchers">
                <span>0</span>张
            </p>

            <p>我的代金券</p>
        </li>
        <li>
            <p class="integral">
                <span>0</span>分
            </p>

            <p>我的积分</p>
        </li>
    </ul>

    <ul class="money">
        <li ui-sref="orderRefundList">
            我的退款
            <span ng-if="false">888元</span>
            <em class="arrowRight"></em>
        </li>
        <li ui-sref="withdrawals">
            我要提现
            <em class="arrowRight"></em>
        </li>
        <li ui-sref="myBill">
            账单流水
            <em class="arrowRight"></em>
        </li>
    </ul>

    <ul class="order">
        <li ui-sref="orderList">
            我的订单
            <em class="arrowRight"></em>
        </li>
        <li ui-sref="myComments">
            我的评价
            <em class="arrowRight"></em>
        </li>
        <li ui-sref="myCollections">
            我的收藏
            <em class="arrowRight"></em>
        </li>
        <li ui-sref="myInvitationCode">
            我的邀请码
            <em class="arrowRight"></em>
        </li>
    </ul>

    <ul class="issure">
        <li ui-sref="help">
            常见问题
            <em class="arrowRight"></em>
        </li>
        <li ui-sref="index">
            成为商家
            <em class="arrowRight"></em>
        </li>
    </ul>

    <div class="bottom">
        客服 400-823-4166
    </div>
</div>

<div class="content1" ng-if="seller">
    <ul class="func">
        <li ui-sref="myAllOrder">
            <span class="shopName">店铺名</span>
            <span class="date">今日</span>
            <span class="info">1280元/100单，总计：13280单</span>
            <em class="arrowRight"></em>
        </li>
        <li>
            <h1 class="dfk">
                <img src="imgs/myYyz/seller_1_1.png" alt=""/>

                <p>待付款</p>
            </h1>
            <h1 class="wfh">
                <img src="imgs/myYyz/seller_1_2.png" alt=""/>

                <p>未发货</p>
            </h1>
            <h1 class="dfh">
                <img src="imgs/myYyz/seller_1_3.png" alt=""/>

                <p>待发货</p>
            </h1>
            <h1 class="sh">
                <img src="imgs/myYyz/seller_1_4.png" alt=""/>

                <p>售后</p>
            </h1>
        </li>
    </ul>
    <ul class="money1">
        <li ui-sref="withdrawals">
            我要提现
            <span>888元</span>
            <em class="arrowRight"></em>
        </li>
        <li ui-sref="myBill">
            账单流水
            <em class="arrowRight"></em>
        </li>
    </ul>
    <ul class="run">
        <li ui-sref="goodsManage">
            商品管理
            <em class="arrowRight"></em>
        </li>
        <li ui-sref="myAllOrder">
            订单管理
            <em class="arrowRight"></em>
        </li>
        <li ui-sref="index">
            进货订单
            <em class="arrowRight"></em>
        </li>
        <li ui-sref="index">
            促销管理
            <em class="arrowRight"></em>
        </li>
        <li ui-sref="customerManagement">
            客户管理
            <em class="arrowRight"></em>
        </li>
        <li ui-sref="shopManagement">
            店铺管理
            <em class="arrowRight"></em>
        </li>
        <li ui-sref="vouchSettings">
            代金券设置
            <em class="arrowRight"></em>
        </li>
        <li ui-sref="help">
            常见问题
            <em class="arrowRight"></em>
        </li>
    </ul>
    <div class="bottom">
        客服 400-823-4166
    </div>
</div>

<div class="footer">
    <ul>
        <li ng-repeat="item in navBar" ui-sref="{{item.stateName}}" ng-class="{'active': item.text=='我的'}" ng-bind="item.text">
        </li>
    </ul>
</div>

