<link rel="stylesheet" href="css/orderDetail.css" type="text/css" inline />

<div id="wrapper">
    <div class="order">
        <div class="header">
            配送状态
            <div class="bar"></div>
        </div>
        <div class="content" ui-sref="orderStatus({id:items.Id})">
            <span>￥</span>
            <div class="left">
                <p ng-bind="items.OrderFormStatus">
                    待支付
                </p>
                <p>
                    请在提交订单后<span ng-bind="items.PayLastMinute">15 </span>分钟内完成支付
                </p>
            </div>
            <div class="right">
                <p ng-bind="items.CreateTime">
                    16:43
                </p>

                <p>
                    订单状态
                    <em class="arrowRight"></em>
                </p>
            </div>
        </div>
        <div class="bottom">
            <div ng-if="true">
                <span ng-click="cancelOrder()">取消订单</span>
                <span ng-click="payOrder()">立即支付</span>
            </div>
            <div ng-if="false">
                <span ui-sref="eshop({id:items.Id})">再来一单</span>
                <span ui-sref="addEvaluate({id:items.Id})">评价</span>
                <span ui-sref="returnGoods({id:items.Id})">退款退货</span>
            </div>
        </div>
    </div>

    <div class="orderInfo">
        <p>订单明细</p>
        <div class="content">
            <div class="shopName">
                <a ui-sref="eshop({id:items.ShopId})">
                    <img src="imgs/orderList/logo.png" alt="店铺Log" ng-src="{{items.ShopLogo}}"/>
                    <span ng-bind="items.ShopName">e生活店</span>  <span ng-bind="items.ShopMode">(自营店铺)</span>
                    <em class="arrowRight shop"></em>
                </a>
            </div>
            <div class="info" >
                <p ng-repeat="item in items.OrderItemViewModelList">
                    <span ng-bind="item.Name">白蜜柚(2个)</span>
                    <span ng-bind="item.Price|currency:'￥'">￥8.8</span>
                    x<span ng-bind="item.Quantity">2</span>
                </p>
                <p>
                    运费
                    <span ng-bind="items.IsShopFreeDeliveryFee?'0':items.DeliveryFee">￥0</span>
                </p>
                <p>
                    <span>
                        商品金额 <span ng-bind="items.ProductTotalAmount|currency:'￥'">￥8.8</span>
                    </span>
                </p>
            </div>
            <div class="discount">
                <p ng-repeat="item in items.PayOrderFormViewModelList">
                    <span ng-bind="item.Remark">立减优惠</span>
                    <span class="reduce">减</span>
                    -<span ng-bind="item.Amount|currency:'￥'">￥2</span>
                </p>
                <p>
                    优惠
                    <span ng-bind="items.DiscountedAmount|currency:'￥'">- ￥2</span>
                </p>
            </div>
            <div class="counter">
                总计 <span ng-bind="items.PayAmount|currency:'￥'">￥6.8</span>
            </div>
            <div class="bottom" ui-sref="eshop({id:items.ShopId})">
                再来一单
            </div>
        </div>
    </div>

    <div class="other">
        <p>其他信息</p>
        <ul>
            <li>
                配 送 方: <span ng-bind="items.DeliveryType">小二专业配送</span>
            </li>
            <li>
                订 单 号: <span ng-bind="items.OrderFormNumber">14509465664701</span>
            </li>
            <li>
                配送时间: <span ng-bind="items.ForecastPostTime|date:'yy-MM-dd mm:hh'">立即配送</span>
            </li>
            <li>
                收货信息: <span><span ng-bind="items.ReceiverName">李威</span>  <span ng-bind="items.ReceiverSex?'男士':'女士'">男士</span>
                <span ng-bind="items.ReceiverPhoneNumber">13689543120</span>  <span ng-bind="items.Address">威盛大厦4楼</span></span>
            </li>
            <li>
                支付方式: <span ng-bind="items.PaymentType">在线支付</span>
            </li>
            <li>
                备注信息: <span ng-bind="items.CustomerServiceRemark">无</span>
            </li>
            <!--<li>-->
                <!--发票信息: <span>无</span>-->
            <!--</li>-->
        </ul>
    </div>
</div>
