<link rel="stylesheet" href="css/orderDetail.css" type="text/css" inline />

<div id="wrapper">
    <div class="order">
        <div class="header">
            配送状态
            <div class="bar"></div>
        </div>
        <div class="content" ui-sref="orderStatus">
            <span>￥</span>
            <div class="left">
                <p>
                    待支付
                </p>

                <p>
                    请在提交订单后十五分钟内完成支付
                </p>
            </div>
            <div class="right">
                <p>
                    16:43
                </p>

                <p>
                    订单状态
                    <em class="arrowRight"></em>
                </p>
            </div>
        </div>
        <div class="bottom">
            <div ng-if="false">
                <span>取消订单</span>
                <span>立即支付</span>
            </div>
            <div ng-if="true">
                <span ui-sref="shopInfo">再来一单</span>
                <span ui-sref="addEvaluate">评价</span>
                <span ui-sref="returnGoods">退款退货</span>
            </div>
        </div>
    </div>

    <div class="orderInfo">
        <p>订单明细</p>
        <div class="content">
            <div class="shopName">
                <a href="#">
                    <img src="imgs/orderList/logo.png" alt=""/>
                    e生活店  (自营店铺)
                    <em class="arrowRight shop"></em>
                </a>
            </div>
            <div class="info">
                <p>
                    白蜜柚(2个)
                    <span>￥8.8</span>
                    <span>x1</span>
                </p>
                <p>
                    包装费
                    <span>￥0</span>
                </p>
                <p>
                    <span>
                        商品金额 ￥8.8
                    </span>
                </p>
            </div>
            <div class="discount">
                <p>
                    立减优惠
                    <span class="reduce">减</span>
                    <span>- ￥2</span>
                </p>
                <p>
                    优惠
                    <span>- ￥2</span>
                </p>
            </div>
            <div class="counter">
                总计 <span>￥6.8</span>
            </div>
            <div class="bottom" ui-sref="shopInfo">
                再来一单
            </div>
        </div>
    </div>

    <div class="other">
        <p>其他信息</p>
        <ul>
            <li>
                配 送 方: <span>小二专业配送</span>
            </li>
            <li>
                订 单 号: <span>14509465664701</span>
            </li>
            <li>
                配送时间: <span>立即配送</span>
            </li>
            <li>
                收货信息: <span>李威  男士  13689543120  威盛大厦4楼</span>
            </li>
            <li>
                支付方式: <span>在线支付</span>
            </li>
            <li>
                备注信息: <span>无</span>
            </li>
            <li>
                发票信息: <span>无</span>
            </li>
        </ul>
    </div>
</div>
