<link rel="stylesheet" href="css/orderList.css" type="text/css" inline />

<div id="wrapper">
    <div class="order" ng-repeat="item in [1, 2, 3]">
        <div class="header">
            <a ui-sref="orderDetail" ">
                <img src="imgs/orderList/logo.png" alt=""/>
                e生活店 (自营店铺)
                <em class="arrowRight"></em>
            </a>
        </div>
        <div class="content">
            <div class="left">
                <p>
                    白蜜柚（2个）等2种商品
                </p>

                <p>
                    2015/12/24 16:42
                </p>
            </div>
            <div class="right">
                <p>
                    ￥17
                </p>

                <p>
                    待支付
                </p>
            </div>
        </div>
        <div class="bottom">
        <span>
            取消订单
        </span>
        <span>
            立即支付
        </span>
        </div>
    </div>
</div>

<div class="footer">
    <ul>
        <li>
            <a href="#">
                首页
            </a>
        </li>
        <li>
            <a href="#">
                e家店
            </a>
        </li>
        <li>
            <a href="#/orderList" class="active">
                订单
            </a>
        </li>
        <li>
            <a href="#/myYyz">
                我的
            </a>
        </li>
    </ul>
</div>