<link rel="stylesheet" href="css/orderDesc.css" type="text/css" inline />

<header>
    <p>订单状态: 订单关闭（标记退款）</p>
</header>

<div class="reciver">
    <p>
        收货人：名字
        <span class="fr">1358880888</span>
    </p>
    <p class="address">收货地址：广东省深圳市南山区科技园威盛科技大厦14A08号</p>
</div>

<div class="goodsInfo">
    <p>店铺：<span>名称</span></p>
    <div class="info">
        <img src="imgs/other/goods1.png" alt=""/>
        <div class="goodsName">
            超级无敌巨酸爽的清新柠檬超级无
            敌巨酸爽的清新柠檬
        </div>
        <div>
            <p>￥10.00</p>
            <p>x2</p>
            <span>退款中</span>
        </div>
    </div>
    <div class="dispatch">
        <p>
            运费
            <span class="fr">￥0.00</span>
        </p>
        <p>
            由卖家
            <span>大boss</span>
            单独配送
        </p>
    </div>
    <p class="remark">卖家留言：请尽快配送哦~</p>
    <p class="counter">
        合计
        <span class="fr">￥10.00</span>
    </p>
</div>

<div class="orderNo">
    <div>
        <p>￥10.00+￥0.00运费</p>
        <p>实收：￥10.00</p>
    </div>
    <div>
        <p>单号：E20160317153818002070943</p>
        <p>2016-03-17  16:30:02</p>
        <p>完成付款</p>
    </div>
</div>

<div class="btnArea" ng-if="false">
    <span class="on">发货</span>
    <span>取消发货</span>
</div>

<div class="masker" ng-if="true">
    <div class="container">
        <div class="top">
            <span class="on">需要物流</span>
            <span>无需物流</span>
        </div>
        <div class="body">
            <div>
                <span class="tip">
                    无需物流则不用填写物流相关信息
                </span>
                <input type="text" placeholder="请输入快递单号"/>
                <select name="company" id="company">
                    <option value="">请选择物流公司</option>
                    <option value="">全一快递</option>
                    <option value="">德邦快递</option>
                    <option value="">优速快递</option>
                    <option value="">EMS</option>
                </select>
            </div>
        </div>
        <div class="btn">
            <span>取消</span>
            <span>确定</span>
        </div>
    </div>
</div>














