<link rel="stylesheet" href="css/orderList.css" type="text/css" inline />

<div id="wrapper">
    <div class="order" ng-repeat="item in items">
        <div class="header" ui-sref="eshop({id:item.ShopId})">
            <a >
                <img src="imgs/orderList/logo.png" alt="" ng-src="{{item.ShopLogo}}}"/>
                <span ng-bind="item.ShopName">e生活店</span>
                <span ng-bind="item.Mode"> (自营店铺)</span>
                <em class="arrowRight"></em>
            </a>
        </div>
        <div class="content" ui-sref="orderDetail({id:item.Id})">
            <div class="left">
                <p>
                    <span ng-bind="item.ProductListName">白蜜柚（2个）</span>等
                    <span ng-bind="item.Quantity">2</span>种商品
                </p>

                <p>
                    <span ng-bind="item.CreateTime|date:'yy-MM-dd mm:hh'"> 2015/12/24 16:42</span>

                </p>
            </div>
            <div class="right">
                <p>
                    <span ng-bind="item.Amount|currency:'￥'">￥17</span>
                </p>

                <p ng-bind="item.OrderStatusEnum">
                    待支付
                </p>
            </div>
        </div>
        <div class="bottom">
        <span>
            取消订单
        </span>
        <span>
            立即支付
        </span>
        </div>
    </div>
</div>

<div class="footer">
    <ul>
        <li ui-sref="index">
                首页
        </li>
        <li ui-sref="eshopList">
                e家店
        </li>
        <li ui-sref="orderList" class="active">
                订单
        </li>
        <li ui-sref="myYyz">
                我的
        </li>
    </ul>
</div>