<link rel="stylesheet" href="css/orderStatus.css" type="text/css" inline />
<div class="wrapper">
    <div class="item" ng-repeat="item in [1, 2, 3, 4, 5]">
        <i class="icon"></i>
        <div class="content">
            <p>
                订单提交成功
                <span class="time">2016-03-13 14:37</span>
            </p>
            <p class="desc">单号:1409465664701，请耐心等待商家确认</p>
            <em class="triangle"></em>
        </div>
    </div>
</div>

<div class="bottom">
    <ul>
        <li>
            再来一单
        </li>
        <li>
            评价
        </li>
        <li>
            猜你爱吃
        </li>
    </ul>
</div>














































