<link rel="stylesheet" href="css/personalCenter.css" type="text/css" inline />

<div class="header">
    <em class="arrowLeft"></em>
    个人中心
</div>

<div class="content">
    <ul>
        <li yyz-upload="#file">
            头像修改
            <img src="imgs/returnGoods/header.png" alt=""/>
            <em class="arrowRight"></em>
            <iframe id="UpFileIframeForId" name="UpFileIframeForName" style="display:none;"></iframe>
            <input type="file" id="file" name="file" value="" />
        </li>
        <li ng-if="false">
            密码修改
            <em class="arrowRight"></em>
        </li>
    </ul>
</div>

<div class="btn" ng-click="logout();">
    退出登陆
</div>