<link rel="stylesheet" href="css/selectType.css" type="text/css" inline />

<header>
    <em class="back"></em>
    <p>选择分类商品</p>
    <span>保存</span>
</header>
<div class="search">
    <input type="text" name="abc" placeholder="请输入搜索关键词" />
    <img src="imgs/goodsManage/search1.png" alt=""/>
</div>


<div class="body">
    <div class="goods">
        <i class="circle"></i>
        <img src="imgs/other/goods1.png" alt="">
        <div>
            <p>清新柠檬</p>
            <p>库存：108件</p>
            <p>售价：<span class="price">￥40.00</span></p>
        </div>
    </div>

    <div class="goods">
        <i class="circle on"></i>
        <img src="imgs/other/goods1.png" alt="">
        <div>
            <p>清新柠檬</p>
            <p>库存：108件</p>
            <p>售价：<span class="price">￥40.00</span></p>
        </div>
    </div>
</div>
