<link rel="stylesheet" href="css/shopInfo.css" type="text/css" inline />
<header>
    <a href="/eshop">
        <img src="imgs/shopInfo/shoImg.png" class="logo" alt=""/>
    </a>
    <div class="content">
        <p class="shopName">绿叶水果(南山区分店)</p>
        <p class="grade">
            <em class="star"></em>
            <em class="star"></em>
            <em class="star"></em>
            <em class="star"></em>
            <em></em>
            <span>4.8分</span>
        </p>
        <p class="saler">月售：500份</p>
    </div>
</header>

<nav>
    <ul>
        <li>
            起送 ￥20
            <span>|</span>
        </li>
        <li>
            配送 ￥20
            <span>|</span>
        </li>
        <li>
            送达时长 50分钟
        </li>
    </ul>
</nav>

<div class="wrapper">
    <ul class="info1">
        <li>11:00-21:30</li>
        <li>深圳市南山区科技园威盛深南大道科技大厦<br>
            13A08号
        </li>
        <li>
            <a href="tel:1351098989">1351098989</a>
            <em class="arrowRight"></em>
        </li>
        <li>当下最新鲜的水果！等你来哦~</li>
    </ul>

    <ul class="info2">
        <li>
            <span>新</span>
            新用户在线支付满25减15元
        </li>
        <li>
            <span>减</span>
            在线支付满25减10元，满50减15元
        </li>
    </ul>

    <ul class="info3">
        <li>
            <span>付</span>
            支持在线支付
        </li>
        <li>
            <span>送</span>
            e小二配送
        </li>
    </ul>

    <ul class="info4">
        举报商家
    </ul>
</div>
