html, body {
    background: #f5f5f5;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.imgArea {
    background: #fff;
    margin-top: 0.2rem;
    overflow: hidden;
}

.imgArea ul, .imgArea ul li {
    float: left;
}

.imgArea ul li {
    width: 1.28rem;
    height: 1.28rem;
}

.imgArea img {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: 0.2rem;
    padding-top: 0.2rem;
}

div.inc {
    display: inline-block;
    float: left;
    width: 1.28rem;
    height: 1.28rem;
    border: 1px solid #dcdcdc;
    margin: 0.2rem 0 0.2rem 0.4rem;
    font-size: 0.64rem;
    color: #b4b4b4;
    line-height: 1.28rem;
    text-align: center;
}

.desc {
    background: #fff;
}

.desc ul {
    margin: 0.2rem;
}

.desc ul li, .spec li {
    font-size: 0.28rem;
    color: #333333;
    border-bottom: 1px solid #dcdcdc;
    height: 0.83rem;
    line-height: 0.83rem;
    margin-right: 0.2rem;
}

.desc ul li:last-child {
    border-bottom: none;
}

.spec {
    margin-top: 0.2rem;
    position: relative;
}

.spec ul {
    padding-left: 0.2rem;
    box-sizing: border-box;
    width: 6.9rem;
    background: #fff;
}

.spec ul li:last-child {
    border-bottom: none;
}

.spec ul li span {
    font-size: 0.28rem;
    color: #b4b4b4;
}

.spec ul li input {
    width: 4.78rem;
    border: none;
    outline: 0;
    height: 0.8rem;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 0.2rem;
}

div.delete {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 0.9rem;
    height: 0.9rem;
    background: #f5f5f5;
    border-radius: 50%;
    text-align: center;
}

div.delete em {
    position: absolute;
    width: 0.66rem;
    height: 0.66rem;
    background: #ff9d06;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

div.delete i {
    left: 0.3rem;
    top: 50%;
    position: absolute;
    width: 0.32rem;
    height: 1px;
    background: #fff;
}

div.add {
    margin-top: 0.2rem;
    background: #fff;
    height: 0.78rem;
    color: #ff9d06;
    padding-left: 0.2rem;
    line-height: 0.78rem;
    font-size: 0.28rem;
}

div.group, div.class {
    margin-top: 0.2rem;
    background: #fff;
    height: 0.78rem;
    padding-left: 0.2rem;
    line-height: 0.78rem;
    font-size: 0.28rem;
}

div.goodsDesc {
    margin-top: 0.2rem;
    background: #fff;
    font-size: 0.28rem;
    padding-left: 0.2rem;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 0.2rem;
    position: relative;
    width: 100%;
    height: 1.36rem;
}

div.goodsDesc span {
    margin-right: 0.1rem;
    margin-top: 0.2rem;
    display: inline-block;
}

div.goodsDesc textarea {
    position: absolute;
    left: 0.8rem;
    right: 0;
    top:0;
    bottom: 0;
    border: none;
    width: 6.6rem;
    outline: 0;
    resize: none;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    overflow: auto;
}

.addClass {
    height: 0.88rem;
    background: #ff9d06;
    position: relative;
    text-align: center;
    font-size: 0.32rem;
    color: #fff;
    line-height: 0.88rem;
}

.addClass span:first-child {
    display: inline-block;
    width: 1.2rem;
    height: 0.4rem;
    position: absolute;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    left: 0;
}

em.arrowLeft {
    width: 0.16rem;
    height: 0.16rem;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: translateY(-50%) rotateZ(-45deg);
    -webkit-transform: translateY(-50%) rotateZ(-45deg);
    position: absolute;
    top: 50%;
    left: 0.24rem;
}

span.confirm {
    float: right;
    font-size: 0.3rem;
    margin-right: 0.24rem;
}

input.name {
    margin-top: 0.2rem;
    height: 0.88rem;
    display: block;
    background: #fff;
    font-size: 0.3rem;
    line-height: 0.32rem;
    border: none;
    width: 100%;
    padding-left: 0.2rem;
    outline: 0;
    box-sizing: border-box;
}

ul.groupList li {
    height: 0.86rem;
    display: block;
    padding-left: 0.2rem;
    font-size: 0.3rem;
    color: #333333;
    line-height: 0.86rem;
    background: #fff;
    margin-top: 0.2rem;
    position: relative;
}

ul.groupList li span:nth-child(2) {
    color: #676767;
    font-size: 0.3rem;
    float: right;
    padding-right: 0.5rem;
}

em.arrowRight {
    width: 0.16rem;
    height: 0.16rem;
    border-top: 1px solid #676767;
    border-left: 1px solid #676767;
    transform: translateY(-50%) rotateZ(135deg);
    -webkit-transform: translateY(-50%) rotateZ(135deg);
    position: absolute;
    top: 50%;
    right: 0.2rem;
}

div.class select {
    width: 2.4rem;
    height: 0.6rem;
    margin-left: 0.2rem;
    border: none;
    outline: 0;
    font-size: 0.3rem;
}

span.spilter {
    color: #b4b4b4;
}

#file {
    display: none;
}






