em, i {
    display: inline-block;
}

.timeLimiter span {
    display: inline;
    color: #fff;
    background: #000;
    font-size: 12px;
    height: 15px;
    width: 15px;
    line-height: 15px;
    padding: 0 5px;
    box-sizing: border-box;
}

.masker {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, .7);
}

.masker1 {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.9);
}

.masker .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
}

.masker .center {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background: #fff;
}

.masker .top {
    position: absolute;
    top: 0;
    width: 100%;
    background: #fff;
}

.footer {
    position: fixed;
    bottom: 0;
    z-index: 999;
    height: 1rem;
    background: #fff;
    left: 0;
    right: 0;
    border-top: 1px solid #dcdcdc
}

.footer ul {
    height: 100%;
    float: left;
    font-size: 0.2rem;
    width: 100%;
}

.footer ul li {
    display: inline-block;
    float: left;
    width: 25%;
    height: 100%;
    position: relative;
}

.footer ul li a {
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
    line-height: 1.54rem;
    font-size: 0.2rem;
    color: #676767;
}

.footer ul li:nth-child(1) a {
    background: url('imgs/home/footer_1.png') no-repeat;
    background-size: 0.39rem 0.33rem;
    background-position: center 0.18rem;
}

.footer ul li:nth-child(2) a {
    background: url('imgs/home/footer_2.png') no-repeat;
    background-size: 0.39rem 0.33rem;
    background-position: center 0.18rem;
}

.footer ul li:nth-child(3) a {
    background: url('imgs/home/footer_3.png') no-repeat;
    background-size: 0.39rem 0.33rem;
    background-position: center 0.18rem;
}

.footer ul li:nth-child(4) a {
    background: url('imgs/home/footer_4.png') no-repeat;
    background-size: 0.39rem 0.33rem;
    background-position: center 0.18rem;
}

.footer ul li a img {
    display: block;
    margin: 0 auto;
}

.footer ul li a.active {
    color: #ff9d06;
}
