html, body {
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #333;
}

#scroller {
    margin-top: 0.86rem;
    margin-bottom: 1rem;
}

/*选项卡 Begin*/
.nav {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    z-index: 999;
}

.nav .tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 0.86rem;
}

div.categoryWrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0.88rem;
    z-index: 100;
    background: #f5f5f5;
    border-bottom: 1px solid #dcdcdc;
}

div.categoryFooter {
    width: 100%;
    height: 0.6rem;
    background: #fff;
    float: left;
    border-top: 1px solid #dcdcdc;
    text-align: center;
}

div.categoryFooter span {
    display: inline-block;
    box-sizing: border-box;
    height: 0.16rem !important;
    width: 0.42rem !important;;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    margin-top: 0.24rem !important;
    border-radius: 0 !important;
}

ul.category {
    background: #f5f5f5;
    font-size: 0.28rem;
    color: #323232;
    float: left;
    width: 50%;
}

ul.category > li {
    display: block;
    height: 1rem;
    line-height: 1rem;
    padding-left: 0.36rem;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    box-sizing: border-box;
}

ul.category > li:last-child {
    border-bottom: none;
}

ul.category > li.active {
    background: #fff;
    border-right: none;
}

ul.category > li .count {
    width: 0.72rem;
    border-radius: 0.1rem;
    color: #fff;
    display: inline-block;
    background: #d4d4d4;
    font-size: 0.2rem;
    margin-left: 0.96rem;
    line-height: 0.32rem;
    text-align: center;
    height: 0.32rem;
}

ul.subCategory {
    float: right;
    width: 50%;
    box-sizing: border-box;
    background: #fff;
    z-index: 200;
}

ul.subCategory li {
    margin-left: 0.36rem;
    border-bottom: 1px solid #dcdcdc;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.28rem;
    color: #323232;
}

ul.subCategory li:last-child {
    border-bottom: none;
}

ul.subCategory .count1 {
    font-size: 0.24rem;
    color: #9c9c9c;
    display: inline-block;
    float: right;
    padding-right: 0.3rem;
}

div.sortWrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0.88rem;
    z-index: 100;
    border-bottom: 0.02rem solid #dcdcdc;
    background: #fff;
}

div.sortWrapper li {
    height: 0.9rem;
    border-bottom: 1px solid #dcdcdc;
    line-height: 0.9rem;
    font-size: 0.28rem;
    color: #333333;
    margin-left: 0.25rem;
}

div.sortWrapper em {
    margin-right: 0.12rem;
}

div.sortWrapper li:last-child {
    border-bottom: none;
}

div.sortWrapper li:nth-child(1) em {
    width: 0.24rem;
    height: 0.27rem;
    background: url('../imgs/home/sort1.png') no-repeat;
    background-size: 0.24rem 0.27rem;
}

div.sortWrapper li:nth-child(2) em {
    width: 0.24rem;
    height: 0.27rem;
    background: url('../imgs/home/sort2.png') no-repeat;
    background-size: 0.24rem 0.27rem;
}

div.sortWrapper li:nth-child(3) em {
    width: 0.24rem;
    height: 0.27rem;
    background: url('../imgs/home/sort3.png') no-repeat;
    background-size: 0.24rem 0.27rem;
}

div.sortWrapper li:nth-child(4) em {
    width: 0.24rem;
    height: 0.27rem;
    background: url('../imgs/home/sort4.png') no-repeat;
    background-size: 0.24rem 0.27rem;
}

div.sortWrapper li:nth-child(5) em {
    width: 0.24rem;
    height: 0.27rem;
    background: url('../imgs/home/sort5.png') no-repeat;
    background-size: 0.24rem 0.27rem;
}

div.sortWrapper li:nth-child(6) em {
    width: 0.24rem;
    height: 0.27rem;
    background: url('../imgs/home/sort6.png') no-repeat;
    background-size: 0.24rem 0.27rem;
}

div.filterWrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0.88rem;
    z-index: 100;
    border-bottom: 0.02rem solid #dcdcdc;
    background: #f5f5f5;
}

div.filterWrapper p.express {
    font-size: 0.3rem;
    color: #333333;
    height: 0.82rem;
    padding-left: 0.34rem;
    line-height: 0.82rem;
    background: #fff;
    margin-bottom: 0.3rem;
}

div.filterWrapper p.express span {
    display: inline-block;
    color: #ff9d06;
    width: 1.44rem;
    line-height: 0.54rem;
    text-align: center;
    border-right: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    font-size: 0.24rem;
    float: right;
    margin-top: 0.12rem;
}

div.filterWrapper p.express span:last-child {
    border-left: 1px solid #dcdcdc;
}

div.filterWrapper p.express span:first-child {
    margin-right: 0.2rem;
}

div.filterWrapper .content {
    background: #fff;
    height: 1.48rem;
}

div.filterWrapper .content ul {
    overflow: hidden;
}

div.filterWrapper .content ul li {
    float: left;
    width: 1.92rem;
    display: inline-block;
    box-sizing: border-box;
    height: 0.48rem;
    font-size: 0.24rem;
    color: #676767;
    border: 1px solid #dcdcdc;
    border-radius: 0.05rem;
    line-height: 0.48rem;
    margin-top: 0.18rem;
    margin-left: 0.5rem;
}

div.filterWrapper .content span {
    display: inline-block;
    line-height: 0.24rem;
    padding: 1px;
    float: left;
    margin: 0 0.16rem;
    position: relative;
    top: 50%;
    transform: translateY(-48%);
    -webkit-transform: translateY(-48%);
    box-sizing: border-box;
}

div.filterWrapper .content span.qa {
    color: #70d635;
    border: 1px solid #70d635;
}

div.filterWrapper .content span.ensure {
    color: #5ec0fd;
    border: 1px solid #5ec0fd;
}

div.filterWrapper .content span.new {
    color: #ff5d37;
    border: 1px solid #ff5d37;
}

div.filterWrapper .content span.ticket {
    color: #ff9d06;
    border: 1px solid #ff9d06;
}

div.filterWrapper .content span.pay {
    color: #ff5d37;
    border: 1px solid #ff5d37;
}

div.filterWrapper .content span.com {
    color: #70d635;
    border: 1px solid #70d635;
}

div.filterWrapper p.title1 {
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.26rem;
    color: #333333;
    padding-left: 0.34rem;
    border-top: 0.02rem solid #dcdcdc;
}

div.filterWrapper .active ul {
    background: #fff;
    font-size: 0.3rem;
    color: #333333;
}

div.filterWrapper .active ul li {
    font-size: 0.28rem;
    color: #333333;
    height: 0.92rem;
    line-height: 0.92rem;
    border-bottom: 1px solid #dcdcdc;
}

div.filterWrapper .active span {
    display: inline-block;
    color: #fff;
    width: 0.36rem;
    line-height: 0.36rem;
    border-radius: 0.04rem;
    margin: 0 0.18rem;
    text-align: center;
    box-sizing: border-box;
}

span.xin {
    background: #5ec0fd;
}

span.te {
    background: #ff9d06;
}

span.jian {
    background: #ff5d37;
}

span.zeng {
    background: #70d635;
}

span.zuan {
    background: #ff9d06;
}

div.filterWrapper div.btnArea {
    background: #fff;
    height: 0.94rem;
}

div.filterWrapper div.btnArea .btnClear {
    width: 2.13rem;
    height: 0.63rem;
    border: 1px solid #dcdcdc;
    text-align: center;
    color: #333333;
    line-height: 0.63rem;
    margin-left: 0.48rem;
    float: left;
    margin-top: 0.14rem;
    font-size: 0.3rem;
}

div.filterWrapper div.btnArea .btnConfirm {
    width: 4.3rem;
    height: 0.63rem;
    text-align: center;
    line-height: 0.63rem;
    color: #fff;
    background: #ff9d06;
    float: left;
    margin-top: 0.14rem;
    font-size: 0.3rem;
}

.nav .tabs > li {
    font-size: 0.28rem;
    color: #333333;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    order: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
    height: 0.5rem;
    line-height: 0.58rem;
    margin-top: 0.14rem;
    border-right: 1px solid #dcdcdc;
}

.nav .tabs>li:last-child {
    border-right: none;
}

em.down {
    width: 0.12rem;
    height: 0.12rem;
    box-sizing: border-box;
    border-left: 1px solid #323232;
    border-bottom: 1px solid #323232;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    position: relative;
    top: -0.08rem;
}

em.right {
    width: 0.12rem;
    height: 0.12rem;
    box-sizing: border-box;
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    -webkit-transform: rotateZ(-135deg);
    transform: rotateZ(-135deg);
    position: relative;
    top: -0.06rem;
    left: 0.1rem;
}

em.down1 {
    width: 0.12rem;
    height: 0.12rem;
    box-sizing: border-box;
    border-left: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    position: relative;
    top: -0.06rem;
}

/*选项卡 End*/


/*商家列表 Begin*/

.listItem {
    box-sizing: border-box;
    background: #fff;
}

.listItem .top {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px dashed #dcdcdc;
    height: 1.54rem;
    box-sizing: border-box;
    padding: 0.28rem 0.16rem 0.2rem;
}

.listItem .top:first-child {
    border-top: none;
}

.listItem .top .left {
    overflow: hidden;
    display: inline-block;
}

.listItem .top .left a {
    display: block;
    float: left;
}

.listItem .top .left .content {
    display: block;
    float: left;
    margin-left: 0.2rem;
}

.listItem .top .left img {
    display: inline-block;
    width: 1.55rem;
    height: 1.03rem;
}
p.name {
    font-size: 0.3rem;
    color: #333333;
    margin-bottom: 0.16rem;
    font-weight: 500;
}

p.grade {
    font-size: 0.18rem;
    color: #b4b4b4;
    margin-bottom: 0.1rem;
}

p.grade i {
    display: inline-block;
    width: 0.17rem;
    height: 0.16rem;
    background: url('../imgs/home/star.png') no-repeat;
    background-size: 0.17rem 0.16rem;
}

p.grade i.star {
    background: url('../imgs/home/star1.png') no-repeat;
    background-size: 0.17rem 0.16rem;
}

p.grade span {
    padding-left: 0.1rem;
    color: #8d8d8d;
    font-size: 0.2rem;
}

p.limit {
    font-size: 0.22rem;
    color: #676767;
}

.listItem .top .right {
    overflow: hidden;
    float: right;
    padding-top: 0.04rem;
    text-align: right;
}

.listItem .top .right p:first-child i:first-child {
    display: inline-block;
    height: 0.32rem;
    width: 0.32rem;
    background: url(imgs/home/quan.png) no-repeat;
    background-size: 100%;
    margin-right: 0.06rem;
}

.listItem .top .right p:first-child i:last-child {
    display: inline-block;
    height: 0.32rem;
    width: 0.32rem;
    background: url(imgs/home/pay.png) no-repeat;
    background-size: 100%;
}

.listItem .top .right p:nth-child(2) {
    margin-top: 0.06rem;
    background: #ff9d06;
    color: #fff;
    font-size: 0.16rem;
    padding: 0.04rem;
    border-radius: 0.04rem;
}

.listItem .top .right p:nth-child(3) {
    margin-top: 0.08rem;
    color: #ff9d06;
    font-size: 0.2rem;
}

.listItem .bottom {
    height: 1.08rem;
    box-sizing: border-box;
    padding: 0.14rem 0.16rem 0.1rem;
}

.listItem .bottom p {
    font-size: 0.24rem;
    color: #8d8d8d;
}

.listItem .bottom p:first-child {
    margin-bottom: 0.16rem;
    position: relative;
}

.listItem .bottom p:first-child i {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    color: #fff;
    background: #ff9d06;
    font-style: normal;
    text-align: center;
    line-height: 16px;
}

.listItem .bottom p:first-child span:nth-of-type(1) {
    font-size: 0.24rem;
}

.listItem .bottom p:first-child span:last-child {
    display: inline-block;
    float: right;
}

.listItem .bottom p:last-child i {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    color: #fff;
    background: #fc6b69;
    font-style: normal;
    text-align: center;
    line-height: 16px;
}

/*商家列表 End*/

.footer ul li.active {
    background: url('../imgs/home/footer_1_1.png') no-repeat;
    background-size: 0.39rem 0.33rem;
    background-position: center 0.18rem;
}


