html, body {
    margin: 0;
    padding: 0;
    background: #f6f6f6;
    position: relative;
}

a {
    text-decoration: none;
    color: #333;
}

#scroller {
    margin-bottom: 50px;
}

.adArea {
    background: #fff;
    min-height: 90px;
    overflow-y: hidden;
    text-align: center;
    box-sizing: content-box;
}

.adArea .adItem {
    float: left;
    font-size: 12px;
    line-height: 20px;
    color: #333;
    padding: 13px 0 7px;
    width: 25%;
    box-sizing: content-box;
}

.adArea .adItem img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
    background-size: 100%;
    box-sizing: content-box;
}

.elife {
    margin-top: 10px;
}

.elife ul {
    overflow: hidden;
    position: relative;
    padding-bottom: 6px;
    font-size: 0;
    box-sizing: border-box;
}

.elife ul li {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}

.elife ul li:first-child {
    display: inline-block;
    width: 50%;
    padding-right: 2px;
    box-sizing: border-box;
    vertical-align: top;
}

.elife ul li:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
}

.elife a {
    display: block;
    width: 100%;
}

.elife a img {
    display: block;
    width: 100%;
}

.business {
    background: #ffffff;
}

.business .title {
    padding: 5px;
}

.business .listItem {
    border-top: 1px solid #dcdcdc;
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
}

.business .listItem a {
    display: block;
}

.business .listItem .desc a {
    display: inline-block;
}

.footer {
    position: fixed;
    bottom: 0;
    z-index: 999;
    height: 50px;
    background: #fff;
    left: 0;
    right: 0;
}

.footer ul {
    height: 100%;
    float: left;
    font-size: 12px;
    width: 100%;
    line-height: 23px;
}

.footer ul li {
    display: inline-block;
    float: left;
    width: 25%;
    height: 100%;
    position: relative;
}

.footer ul li a {
    display: block;
    width: 100%;
    text-align: center;
}

.footer ul li a img {
    display: block;
    height: 20px;
    padding-top: 7px;
    margin: 0 auto;
}




