html, body {
    background: #f5f5f5;
}

.login {
    background: #fff;
    margin-top: 0.7rem;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.login ul {
    margin: 0 0.28rem;
    font-size: 0.32rem;
}

.login ul li {
    height: 1.02rem;
    line-height: 1.02rem;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
}

.login ul li:last-child {
    border-bottom: none;
}

.login ul li img {
    width: 1.8rem;
    height: 0.5rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.login input {
    border: none;
    outline: 0;
    height: 100%;
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.30rem;
}

span.sendCode {
    display: inline-block;
    font-size: 0.28rem;
    color: #676767;
    position: absolute;
    right: 0;
    top: 0.18rem;
    width: 1.9rem;
    border: 1px solid #dcdcdc;
    height: 0.6rem;
    line-height: 0.6rem;
    border-radius: 5px;
    text-align: center;
}

p.tips {
    color: #ff9d06;
    font-size: 0.24rem;
    padding-top: 0.24rem;
    margin: 0 0.28rem;
}

.bottom {
    margin: 1.1rem 0.48rem 0 0.48rem;
    font-size: 0.34rem;
    color: #fff;
    text-align: center;
    height: 0.87rem;
    line-height: 0.87rem;
    background: #b4b4b4;
    border-radius: 5px;
    border: none;
    outline: 0;
    width: 6.6rem;
}

.bottom.on {
    background: #ff9d06;
}

.readMe {
    margin: 0.3rem 0.4rem 0 0.4rem;
    font-size: 0.26rem;
    color: #676767;

}

.readMe a {
    color: #ff9d06;
}

.readMe i {
    border: 1px solid #b4b4b4;
    width: 0.26rem;
    height: 0.26rem;
    position: relative;
    top: 0.04rem;
}

.readMe i.on {
    border: 1px solid #ff9d06;
    background: url('../imgs/returnGoods/gou1.png') no-repeat;
    background-size: 0.18rem 0.13rem;
    background-position: center center;
}