html , body {
    background: #ecedf1;
}

/*common*/
em.arrowRight {
    width: 0.16rem;
    height: 0.16rem;
    box-sizing: border-box;
    border-left: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    -webkit-transform: rotateZ(-135deg);
    transform: rotateZ(-135deg);
    position: absolute;
    top: 0.32rem;
    right: 0.34rem;
}

/*header*/
.header {
    height: 2.48rem;
    background: #ff9d06;
    text-align: center;
    position: relative;
}

.header img {
    width: 1.24rem;
    height: 1.24rem;
    display: inline-block;
    margin-top: 0.36rem;
}

.header .switch {
    position: absolute;
    top: 0.28rem;
    right: 0;
    color: #fff;
    font-size: 0.28rem;
    background: url('imgs/myYyz/shop.png') no-repeat;
    background-size: 0.25rem 0.25rem;
    background-position: right center;
    padding-right: 0.36rem;
    margin-right: 0.36rem;
}

.header p.uname {
    color: #fff;
    font-size: 0.28rem;
    padding-top: 0.24rem;
}

/*content 买家*/
.content ul.basicInfo {
    overflow: hidden;
    height: 1.28rem;
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
}

.content ul.basicInfo li {
    float: left;
    height: 100%;
    width: 33.33%;
    border-right: 1px solid #dcdcdc;
    box-sizing: border-box;
    text-align: center;
    padding-top: 0.34rem;
}

.content .balance {
    color: #ff3d3d;
    font-size: 0.24rem;
}

.content .balance span {
    font-size: 0.34rem;
}

.content .voucher {
    font-size: 0.24rem;
    color: #ff5d37;
}

.content .voucher span {
    font-size: 0.34rem;
}

.content .integral {
    font-size: 0.24rem;
    color: #70d635;
}

.content .integral span {
    font-size: 0.34rem;
}

.content ul.basicInfo li p:last-child {
    padding-top: 0.18rem;
    font-size: 0.24rem;
    color: #676767;
}

.content ul.money, .content ul.order, .content ul.issure {
    margin-top: 0.16rem;
    background: #fff;
}

.content ul.money li, .content ul.order li, .content ul.issure li {
    height: 0.85rem;
    border-bottom: 1px solid #dcdcdc;
    line-height: 0.85rem;
    padding: 0 0.8rem;
    position: relative;
    font-size: 0.3rem;
    color: #333;
}

.content ul.money li span {
    float: right;
    font-size: 0.26rem;
    color: #ff9d06;
}

.content1 ul.money1 span {
    float: right;
    font-size: 0.26rem;
    color: #ff9d06;
    margin-right: 0.7rem;
}

.content ul.money li:nth-child(1) {
    background: url('../imgs/myYyz/ul_2.png') no-repeat;
    background-size: 0.27rem 0.27rem;
    background-position: 0.3rem center;
}

.content ul.money li:nth-child(2) {
    background: url('../imgs/myYyz/ul_1.png') no-repeat;
    background-size: 0.27rem 0.3rem;
    background-position: 0.3rem center;
}

.content ul.money li:nth-child(3) {
    background: url('../imgs/myYyz/ul_3.png') no-repeat;
    background-size: 0.24rem 0.28rem;
    background-position: 0.3rem center;
}

.content ul.order li:nth-child(1) {
    background: url('../imgs/myYyz/ul_4.png') no-repeat;
    background-size: 0.21rem 0.25rem;
    background-position: 0.3rem center;
}

.content ul.order li:nth-child(2) {
    background: url('../imgs/myYyz/ul_5.png') no-repeat;
    background-size: 0.25rem 0.22rem;
    background-position: 0.3rem center;
}

.content ul.order li:nth-child(3) {
    background: url('../imgs/myYyz/ul_6.png') no-repeat;
    background-size: 0.27rem 0.24rem;
    background-position: 0.3rem center;
}

.content ul.order li:nth-child(4) {
    background: url('../imgs/myYyz/ul_7.png') no-repeat;
    background-size: 0.27rem 0.26rem;
    background-position: 0.3rem center;
}

.content ul.issure li:nth-child(1) {
    background: url('../imgs/myYyz/ul_8.png') no-repeat;
    background-size: 0.27rem 0.27rem;
    background-position: 0.3rem center;
}

.content ul.issure li:nth-child(2) {
    background: url('../imgs/myYyz/ul_9.png') no-repeat;
    background-size: 0.27rem 0.24rem;
    background-position: 0.3rem center;
}

div.bottom {
    margin-top: 0.16rem;
    background: #fff;
    height: 0.78rem;
    margin-bottom: 1rem;
    font-size: 0.32rem;
    text-align: center;
    color: #ff4d4d;
    line-height: 0.78rem;
}

/*conten1 卖家*/

.content1 ul.money1, .content1 ul.run {
    margin-top: 0.16rem
}

.content1 ul.func {
    background: #fff;
    height: 2.08rem;
}

.content1 ul.func li {
    padding: 0 0.3rem;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.content1 ul.func li:nth-child(1) {
    height: 0.78rem;
}

.content1 ul.func li:nth-child(2) {
    height: 1.3rem;
}

.content1 span.shopName {
    font-size: 0.3rem;
    color: #333;
    line-height: 0.78rem;
}

.content1 span.date {
    font-size: 0.26rem;
    color: #676767;
    line-height: 0.78rem;
}

.content1 span.info {
    font-size: 0.24rem;
    color: #676767;
    line-height: 0.78rem;
}

.content1 ul.func li:nth-child(2) {
    overflow: hidden;
    text-align: center;
}

.content1 ul.func li:nth-child(2) h1 {
    float: left;
    width: 25%;
    box-sizing: border-box;
    height: 100%;
    padding: 0.28rem 0 0.24rem;
    position: relative;
}

.content1 ul.func li:nth-child(2) h1 p {
    font-size: 0.24rem;
    color: #333333;
    padding-top: 0.14rem;
    position: absolute;
    bottom: 0.24rem;
    width: 100%;
}

.content1 ul.func li:nth-child(2) img {
    position: absolute;
    bottom: 0.6rem;
    left: 50%;
    transform: translateX(-50%);
}

.content1 ul.func li:nth-child(2) h1.dfk img {
    width: 0.43rem;
    height: 0.37rem;
}

.content1 ul.func li:nth-child(2) h1.wfh img {
    width: 0.42rem;
    height: 0.42rem;
}

.content1 ul.func li:nth-child(2) h1.dfh img {
    width: 0.48rem;
    height: 0.48rem;
}

.content1 ul.func li:nth-child(2) h1.sh img {
    width: 0.37rem;
    height: 0.42rem;
}

.content1 ul.money1 {
    background: #fff;
}

.content1 ul.money1 li, .content1 ul.run li {
    border-bottom: 1px solid #dcdcdc;
    height: 0.78rem;
    font-size: 0.3rem;
    color: #333;
    line-height: 0.78rem;
    padding-left: 0.8rem;
    position: relative;
}

.content1 ul.money1 li:nth-child(1) {
    background: url('imgs/myYyz/ul_1.png') no-repeat;
    background-size: 0.27rem 0.3rem;
    background-position: 0.3rem center;
}

.content1 ul.money1 li:nth-child(2) {
    background: url('imgs/myYyz/ul_3.png') no-repeat;
    background-size: 0.24rem 0.28rem;
    background-position: 0.3rem center;
}

.content1 ul.run {
    background: #fff;
}

.content1 ul.run li:nth-child(1) {
    background: url('imgs/myYyz/spgl.png') no-repeat;
    background-size: 0.22rem 0.28rem;
    background-position: 0.3rem center;
}

.content1 ul.run li:nth-child(2) {
    background: url('imgs/myYyz/ddgl.png') no-repeat;
    background-size: 0.2rem 0.25rem;
    background-position: 0.3rem center;
}

.content1 ul.run li:nth-child(3) {
    background: url('imgs/myYyz/jhdd.png') no-repeat;
    background-size: 0.23rem 0.28rem;
    background-position: 0.3rem center;
}

.content1 ul.run li:nth-child(4) {
    background: url('imgs/myYyz/cxgl.png') no-repeat;
    background-size: 0.25rem 0.26rem;
    background-position: 0.3rem center;
}

.content1 ul.run li:nth-child(5) {
    background: url('imgs/myYyz/khgl.png') no-repeat;
    background-size: 0.27rem 0.27rem;
    background-position: 0.3rem center;
}

.content1 ul.run li:nth-child(6) {
    background: url('imgs/myYyz/ul_9.png') no-repeat;
    background-size: 0.27rem 0.24rem;
    background-position: 0.3rem center;
}

.content1 ul.run li:nth-child(7) {
    background: url('imgs/myYyz/djq.png') no-repeat;
    background-size: 0.21rem 0.25rem;
    background-position: 0.3rem center;
}

.content1 ul.run li:nth-child(8) {
    background: url('imgs/myYyz/ul_8.png') no-repeat;
    background-size: 0.27rem 0.27rem;
    background-position: 0.3rem center;
}

/*footer*/
.footer ul li a.active {
    background: url('imgs/home/footer_4_1.png') no-repeat;
    background-size: 0.39rem 0.33rem;
    background-position: center 0.18rem;
}






















