html, body {
    background: #ecedf1;
}

.wrapper {
    position: relative;
}

.item {
    overflow: hidden;
    position: relative;
    height: 1.64rem;
    margin-left: 0.26rem;
}

.wrapper .item:first-child {
    margin-top: 0.36rem;
}

.item .icon {
    width: 0.47rem;
    height: 0.47rem;
    background: url('../imgs/orderStatus/tj1.png') no-repeat;
    background-size: 0.47rem 0.47rem;
    margin-right: 0.28rem;
    float: left;
    position: relative;
    top: 0.25rem;
}

.item .icon::after {
    content: '';
    display: inline-block;
    height: 1.1rem;
    width: 0.02rem;
    background: #c0c0c0;
    position: relative;
    left: 0.24rem;
    top: 0.52rem;
}

.item:last-child .icon::after {
    display: none;
}

.item .content {
    height: 1.28rem;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    background: #fff;
    float: left;
    width: 6.18rem;
    padding: 0 0.18rem;
}

.item .content p:nth-child(1) {
    font-size: 0.30rem;
    color: #333333;
    padding-top: 0.32rem;
}

.item .content span.time {
    float: right;
    font-size: 0.24rem;
    color: #a8a8a8;
}

.item .content p.desc {
    font-size: 0.24rem;
    color: #a8a8a8;
    padding-top: 0.14rem;
}

.item .content em.triangle {
    width: 0.12rem;
    height: 0.12rem;
    background: #fff;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    position: absolute;
    top: 0.4rem;
    left: 0.68rem;
    transform: rotateZ(-135deg);
    -webkit-transform: rotateZ(-45deg);
}












