html, body {
    background: #f5f5f5;
    width: 100%;
    overflow-x: hidden;
}

.tangram-suggestion-main {
    display: none !important;
}

header {
    background: #ff9d06;
    height: 0.9rem;
    padding: 0 0.28rem;
    position: relative;
}

.cityName {
    color: #fff;
    font-size: 0.3rem;
    display: inline-block;
    height: 100%;
    line-height: 0.9rem;
    width: 1.2rem;
    position: relative;
}

.arrowDown {
    width: 0.16rem;
    height: 0.16rem;
    box-sizing: border-box;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: translateY(-80%) rotateZ(-45deg);
    transform: translateY(-80%) rotateZ(-45deg);
    position: absolute;
    top: 50%;
    right: 0;
}

#keywords {
    position: absolute;
    height: 0.6rem;
    top: 0.16rem;
    left: 1.8rem;
    border: none;
    outline: 0;
    font-size: 0.28rem;
    border-radius: 3px;
    width: 5rem;
    background: #fff url('../imgs/home/search.png') no-repeat;
    background-size: 0.23rem 0.24rem;
    background-position: 0.18rem center;
    padding-left: 0.48rem;
}

ul.body {
    background: #fff;
}

ul.body li {
    height: 0.8rem;
    line-height: 0.8rem;
    box-sizing: border-box;
    border-bottom: 1px solid #dcdcdc;
    padding-left: 0.26rem;
    color: #333333;
    font-size: 0.3rem;
    background: #fff url('../imgs/shopInfo/pos.png') no-repeat;
    background-size: 0.3rem 0.33rem;
    background-position: 6.8rem center;
}











